{{>header}}
    {{>navbar}}
    <body class="thesaas-sections-split">

        <header class="header header-inverse bg-fixed" style="background-image: url(img/bg-hotdog-stand.jpg)" data-overlay="8">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12 col-lg-8 offset-lg-2">
                        <h1>Profile!!!!!</h1>
                    </div>
                </div>
            </div>
        </header>
    <!-- END Header -->

    <!-- Main container -->
    <main class="main-content">
        <section class="section bg-gray" id="section-vtab">
            <div class="container">
                <div class="row gap-5">
                    <div class="col-12 col-md-4">
                        <ul class="nav nav-vertical">
                            <li class="nav-item">
                                <a class="nav-link" href="/profile" >
                                    <h6>Profile</h6>
                                    <p>Take a Look</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile-address" >
                                    <h6>Manage Addresses</h6>
                                    <p>List, Add, Edit, Delete</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-8 align-self-center">
                        
                            