{{>dashboardTop}}

    <!-- Main container -->
    <main class="main-content">
        <section class="section">
            <div class="container">
                {{>alerts}}
                <header class="section-header">
                    <h2>Fill out The Form To Edit It!</h2>
                    <hr>
                </header>
                    <form action="/edit-{{wine.slug}}-food" method="POST" >
                        <div class="container">
                            <div class="row gap-y card" style="padding: 10px; margin-right: 100px;">
                                        
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Name?:</label>
                                        <input class="form-control form-control-sm border-input" required
                                            type="text" placeholder="Name?" name="name"
                                            value="{{wine.name}}"
                                        >
                                    </div>
                            
                                    <div class="form-group">
                                        <label>From?:</label>
                                        <select class="form-control form-control-sm border-input" name="location" >
                                            {{#locations}}
                                                <option 
                                                {{#selected}}
                                                    selected="selected"
                                                {{/selected}}
                                                 value="{{name}}" >{{name}}</option>
                                            {{/locations}}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Where Exactly?:</label>
                                        <input class="form-control form-control-sm border-input" required
                                            type="text" placeholder="Address or Neighborhood depends on you?" 
                                            name="where" value="{{wine.where}}"
                                        >
                                    </div>

                                    <div class="form-group">
                                        <label>Price?:</label>
                                        <input class="form-control form-control-sm border-input" required
                                            type="number" placeholder="price?" name="price"
                                            value="{{wine.price}}" step=0.01
                                        >
                                    </div>

                                </div>
                            
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label>Description?:</label>
                                        <textarea class="form-control border-input"
                                            name="description" required
                                            rows="10"  placeholder="Your message"
                                        >{{wine.description}}</textarea>
                                    </div>
                                </div>

                                <input type="hidden" id="imagesInput" name="images" value="{{imageArr}}">

                                <div class="col-12 col-lg-6 uploader-class upload-pic">
                                    <button id="btn-file-select"
                                        class="btn btn-outline btn-primary" 
                                    >Upload Pictures!</button>
                                </div>

                                <div class="col-12 col-lg-6 uploader-class">
                                    <button type="submit" 
                                        id="submit"
                                        class="btn btn-outline btn-success pull-right" 
                                    >Update!</button>
                                </div>

                                <div class="col-12 col-lg-12" id="loading" >
                                    <h1>Uploading....</h1>
                                </div>

                                <div class="col-12 col-lg-12" id="finished" >
                                    <h1>Done....</h1>
                                </div>
                            
                            </div>
                        </div> 
                    </form>

                </div>
            </div>
        </section>
    </main>
    <!-- END Main container -->

    {{>dashboardFooter}}
    {{>dashboardScripts}}

        <script type="text/javascript" >
            $(function(){
                $("#loading").hide()
                $("#finished").hide()
                var currentFiles = []
                var turbo = Turbo({site_id: '5a3c38e20dadcb00143afbdd'}) // Enter your TURBO_APP_ID here 
                //$("#loading").show()
                //$(".uploader-class").hide()
                $('#btn-file-select').click(function(event){
                    event.preventDefault()
                    turbo.uploadFile(function(err, data){
                        if (err){
                            swal(
                                'Oops...',
                                err.message,
                                'error'
                            )
                            //$("#loading-class").hide()
                            //$(".uploader-class").show()
                            return
                        }

                        if (data.confirmation != 'success'){
                            swal(
                                'Oops...',
                                data.message,
                                'error'
                            )
                            //$("#loading-class").hide()
                            //$(".uploader-class").show()
                            return
                        }

                        var file = data.result.url
                        currentFiles.unshift(file)
                        $("#imagesInput").val(JSON.stringify(currentFiles))
                        swal(
                            'Awesome!',
                            'Image(s) were Uploaded!!!!',
                            'success'
                        )
                        $(".upload-pic").hide()
                        $("#loading-class").hide()
                        $("#finished").show()
                        //$(".uploader-class").show()
                        return
                    })
                })

            })
        </script>

    </body>
</html>